
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Terminkalender</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
				pullingIcon="arrow-dropdown"
				pullingText="Zum Aktualisieren weiter ziehen"
				refreshingSpinner="circles"
				refreshingText="aktualisiere Kalender...">
		</ion-refresher-content>
	</ion-refresher>


<div *ngIf="dataReady"> 

   
	<ion-list>

	 
	  <ion-item ion-item *ngFor="let termin of calenderData.items | terminfilter text-wrap">
	    <p *ngIf="termin.start">
	    	<span *ngIf="termin.start.date">{{ termin.start.date | datum}}</span> 
	    	<!--<span *ngIf="termin.start.date != termin.end.date"> bis {{ termin.end.date | datum}}</span>-->
	    	<span *ngIf="termin.start.dateTime"> {{ termin.start.dateTime | datum }} - {{ termin.start.dateTime | uhrzeit}}</span></p>
	    <h2>{{ termin.summary }}</h2>
	  </ion-item>  





	 </ion-list>
</div>
</ion-content>
