
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Terminkalender</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
				pullingIcon="arrow-dropdown"
				pullingText="Zum Aktualisieren weiter ziehen"
				refreshingSpinner="circles"
				refreshingText="aktualisiere Kalender...">
		</ion-refresher-content>
	</ion-refresher>


<div *ngIf="dataReady"> 

   
	<ion-list>

		<ion-card *ngFor="let termin of calenderData.items | terminfilter text-wrap">
			<ion-card-header>
				<span *ngIf="termin.start.date">{{ termin.start.date | datum}}</span>
				<span *ngIf="termin.start.dateTime"> {{ termin.start.dateTime | datum }} - {{ termin.start.dateTime | uhrzeit}}</span>
				<h2>{{ termin.summary }}</h2>
			</ion-card-header>
			<ion-card-content>
				<table >
					<tr>
						<td>
							Sopran 1 &nbsp;
						</td>
						<td>
						    <img src="assets/imgs/gruenerPunktKlein.png" style="width:9px;display:inline">
							<img src="assets/imgs/gruenerPunktKlein.png" style="width:9px; display:inline">
							<img src="assets/imgs/gruenerPunktKlein.png" style="width:9px; display:inline">
						</td>
					</tr>
				</table>
				<br>
				<p>{{ termin.description }}</p>
			</ion-card-content>
		</ion-card>

	  <ion-item ion-item *ngFor="let termin of calenderData.items | terminfilter text-wrap">
	    <p *ngIf="termin.start">
	    	<span *ngIf="termin.start.date">{{ termin.start.date | datum}}</span> 
	    	<!--<span *ngIf="termin.start.date != termin.end.date"> bis {{ termin.end.date | datum}}</span>-->
	    	<span *ngIf="termin.start.dateTime"> {{ termin.start.dateTime | datum }} - {{ termin.start.dateTime | uhrzeit}}</span></p>
	    <h2>{{ termin.summary }}</h2>
	  </ion-item>  





	 </ion-list>
</div>
</ion-content>
